target
.snfoundry_cache/
snfoundry_trace/
coverage/
profile/
keystore*
log.txt
abi.json
node_modules/
.husky/_/
tmp_tx.json
.DS_Store
.vscode/
output/
!output/.gitkeep
deployments/
scripts/.env.local
scripts/params.devnet.local
.accounts/
