[workspace]
members = [
    "legacy/cairo/contracts/path_nft",
    "legacy/cairo/contracts/path_minter",
    "legacy/cairo/interfaces",
    "legacy/cairo/contracts/path_minter_adapter",
    "legacy/cairo/crates/e2e",
    "legacy/cairo/crates/test_support",
    "vendors/pulse/legacy/cairo/crates/pulse_adapter",
    "vendors/pulse/legacy/cairo/crates/pulse_auction",
]

[workspace.package]
version = "0.3.1"
edition = "2024_07"
authors = ["Inshell"]

[workspace.dependencies]
starknet = "2.12.0"
openzeppelin = "2.0.0"
snforge_std = "0.52.0"
cairo_test = "2.12.0"
assert_macros = "2.9.4"
path_interfaces = { path = "legacy/cairo/interfaces" }
path_nft = { path = "legacy/cairo/contracts/path_nft" }
path_minter = { path = "legacy/cairo/contracts/path_minter" }
path_minter_adapter = { path = "legacy/cairo/contracts/path_minter_adapter" }
pulse_auction = { path = "vendors/pulse/legacy/cairo/crates/pulse_auction" }
pulse_adapter = { path = "vendors/pulse/legacy/cairo/crates/pulse_adapter" }
path_test_support = { path = "legacy/cairo/crates/test_support" }


[profile.devnet]
inherits = "dev"

[profile.dev.cairo]
unstable-add-statements-code-locations-debug-info = true
unstable-add-statements-functions-debug-info = true
